@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #FC6435;
    --service-section-bg: #fff9f9;

}


html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Nav Bar Responsive style*/
@media (max-width: 500px) {
    .nav-item {
        position: fixed;
        display: none;
        flex-direction: column;
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        padding: 1rem 0;
    }

    .nav-item li a {
        color: black;


    }

    .nav-item.show {
        display: flex;
    }

    .header-right .menu-icon {
        display: block;
    }

    .header-right .menu-search {
        margin-right: 1rem;
    }

    .header-right .cta1 {
        display: none;
    }

}

/*hero responsive style*/
@media (max-width: 500px) {
    .hero-content h1 {
        font-weight: 900;
        font-size: 2rem;
        width: 350px;
    }

    .hero-content p {
        font-weight: 500;
        font-size: 0.9rem;

    }

    .hero-content button {
        min-width: 20rem;
    }

}

/* Categories Responsive Style */
@media (max-width: 500px) {
    .categories-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        margin: 2rem;
        

    }







    .categories-container .text-left h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 1.9rem;
        width: 300px;
        margin: 2rem auto 15px auto;
        letter-spacing: 2;
        


    }

    .categories-container>.text-right p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 0.9rem;
        width: 345px;
        margin:0 auto 50px auto;
        line-height: 1.4;
        text-wrap: wrap;



    }

}

@media (max-width: 500px) {
    .bottom-container {
        margin: 0;
        padding: 0;
    }

    .container-img img {
        max-width: 105px;


    }

}

/* Planning Responsive Style */
@media (max-width: 500px) {
    .planning-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 6px;


    }

    .planning-container>div {
        margin: 0.5rem ;
        text-align: center;
    }

    .planning-container>div h1 {
        font-weight: 900;
        font-size: 1.5rem;
        margin-top: 8rem;
        width: 350px;
        text-align: center;

    }

    .planning-container>div p {
        font-weight: 500;
        font-size: 0.9rem;
        text-align: center;
        width: 350px;
        margin-top: 1rem;
    }
    .planning-container .planning-left-cta button {
        min-width: 20rem;

    }
    .planning-container .planning-right {
        margin: 1rem;
    }

    .planning-container>.planning-right img {
        width: 350px;
        margin-top: 1rem;
    }
}

/* Ticketing Responsive Style */
@media (max-width: 500px) {
    .ticket-container {
        margin: auto;
    }

    .ticket-container>h1 {
        font-weight: 800;
        font-size: 1.5rem;
        width: 350px;
        margin-bottom: 0.8rem;

    }
    .ticket-container>p  {
        width: 340px;
        font-size: 0.9rem;
        line-height: 1.5;
        
        
    }
    .ticket-container button  {
        min-width: 20rem;
    }
}
@media (max-width: 500px)  {
    .service-container {
        flex-direction: column;
        background-color: var(--service-section-bg);
    }
    .service-card {
        min-height: 200px;
        max-width: 320px;
    }
    .service-container .service-card img  {
        max-width: 260px;
        max-height: 284px;
    }
    .service-container .service-card .card-body h2 {
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .service-container .service-card .card-body p {
        font-weight: 400;
        font-size: 0.7rem;

    }
    .service-container .shifted {
    top: 0;
}

.service-container .lifted {
    top: 0;
}


}

@media (max-width: 500px) {
    .testimonial {
        min-height: 400px;
        background-color: var(--service-section-bg);
    }
    .testimonial-header h2 {
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        width: 300px;
    }
    .testimonial-content {
        margin-bottom: 1rem;
    }
    .testimonial-slider p {
        font-size: 1rem;
        width: 390px;
    }

}
@media (max-width: 500px) {
    .img-wrapper  {
        gap: 3rem;
        animation: scroll-left 4s linear infinite;
    }
    .wrapper img {
        width: 100px;
        height: 30px;
    }

}



@media (max-width: 500px) {
    .footer {
        flex-direction: column;
        padding: 25px;

    }
    .footer .footer-details {
        margin-left: 0;
    }
    .footer .footer-logo h5 {
        font-size: 1.5rem;
    }
    .footer-details .footer-txt p {
        font-size: 1rem;
        margin-right: 0;
    }
    .footer-details input  {
        width: 65%;
       padding: 20px;
    }
    .footer-details button {
        width: 30%;
        padding: 20px;
        font-size: 0.7rem;
        text-align: center;
    }
    .footer .footer-links {
    margin-left: 0rem;

}
}
@media (max-width: 500px) {
    .footer-copyright {
        flex-direction: column-reverse;
        padding: 25px;
        border-top: 1px solid #000;
    }
     .footer-copyright h5 {
        margin-left: 0;
        font-size: 0.8rem;
    }
    .footer-copyright .Copyright-links {
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        margin-right: 0;
    }
    .footer-copyright .Copyright-links a {
        font-size: 1rem;
    }
   
}