@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* Nav Bar Responsive style*/
@media (max-width: 500px) {
    .nav-item {
        position: fixed;
        display: none;
        flex-direction: column;
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        padding: 1rem 0;
    }

    .nav-item li a {
        color: black;


    }

    .nav-item.show {
        display: flex;
    }

    .header-right .menu-icon {
        display: block;
    }

    .header-right .menu-search {
        margin-right: 1rem;
    }

    .header-right .cta1 {
        display: none;
    }

}

/*hero responsive style*/
@media (max-width: 500px) {
    .hero-content h1 {
        font-weight: 900;
        font-size: 2rem;
        width: 350px;
    }

    .hero-content p {
        font-weight: 500;
        font-size: 0.9rem;

    }

    .hero-content button {
        min-width: 23rem;
    }

}

/* Categories Responsive Style */
@media (max-width: 500px) {
    .categories-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        margin: 2rem;
        

    }







    .categories-container .text-left h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 1.9rem;
        width: 300px;
        margin: 2rem auto 15px auto;
        letter-spacing: 2;
        


    }

    .categories-container>.text-right p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 0.9rem;
        width: 345px;
        margin:0 auto 50px auto;
        line-height: 1.4;
        text-wrap: wrap;



    }

}

@media (max-width: 500px) {
    .bottom-container {
        margin: 0;
        padding: 0;
    }

    .container-img img {
        max-width: 105px;


    }

}

/* Planning Responsive Style */
@media (max-width: 500px) {
    .planning-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 7px;


    }

    .planning-container>div {
        margin: 0.5rem ;
        text-align: center;
    }

    .planning-container>div h1 {
        font-weight: 900;
        font-size: 1.5rem;
        margin-top: 8rem;
        width: 350px;
        text-align: center;

    }

    .planning-container>div p {
        font-weight: 500;
        font-size: 0.9rem;
        text-align: center;
        width: 350px;
        margin-top: 1rem;
    }
    .planning-container .planning-left-cta button {
        min-width: 23rem;

    }
    .planning-container .planning-right {
        margin: 1rem;
    }

    .planning-container>.planning-right img {
        width: 350px;
        margin-top: 1rem;
    }
}

/* Ticketing Responsive Style */
@media (max-width: 500px) {
    .ticket-container {
        margin: auto;
    }

    .ticket-container>h1 {
        font-weight: 800;
        font-size: 1.5rem;
        width: 350px;
        margin-bottom: 0.8rem;

    }
    .ticket-container>p  {
        width: 340px;
        font-size: 0.9rem;
        line-height: 1.5;
        
        
    }
    .ticket-container button  {
        min-width: 22rem;
    }
}

@media (max-width: 500px) {
    .testimonial-header h2 {
        font-weight: 700;
        font-size: 1rem;
    }
    .testimonial-slider p {
        padding: 10px;
    }

}
@media (max-width: 500px) {
    .footer {
        flex-direction: column;

    }
    .footer .footer-details {
        margin-left: 0;
    }
    .footer-details .footer-txt p {
        font-size: 0.9rem;
        margin-right: 0;
    }
    .footer-details button {
        width: 35%;
    }
    .footer .footer-links {
    margin-left: 0rem;

}
}
@media (max-width: 500px) {
    .footer-copyright {
        flex-direction: column;
    }
    .footer-copyright .Copyright-links {
        flex-direction: column;
        margin-right: 0;
    }
    .footer-copyright h5 {
        margin-left: 0;
    }
}