@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
}
:root {
    --primary-color: #FC6435;
    --service-section-bg: #fff9f9;

}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 1rem;
}

.header-logo {
    margin: 1.5rem;
    padding-right: 5rem;


}

.header-logo h5 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.nav-item li {
    display: inline-block;
    padding: 1rem;



}

.nav-item li a {
    text-decoration: none;
    color: white;
    transition: .3s;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.nav-item li a:hover {
    color: var(--primary-color);
}

.header-right {
    display: flex;
    flex-direction: row;
}

.header-right .menu-search {
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 2rem;

}

.header-right .menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-left: 1rem;
    position: relative;
}

.header-right .cta2,
.cta3 {
    display: none;
}

.header-right button:first-child {
    display: inline-block;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    min-width: 10rem;
    cursor: pointer;
    transition: .3s;
}

.header-right button:first-child:hover {
    transform: scale(1.2);

}

#closeIcon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    color: black;
}

#openIcon {
    display: inline;
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), rgba(0, 0, 0, 0.02) url('assets/img/heroo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 800px;
}

.hero-content {
    margin-top: 1.5rem;
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 1s ease-out forwards;
}

.hero-content h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 4.5rem;
    color: white;
    animation-delay: 0.2s;
    width: 950px;
    letter-spacing: 1;

}

.hero-content p {
    margin-top: 1.5rem;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    animation-delay: 0.15s;
    line-height: 1.5;


}

.hero-content button {
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem;
    min-width: 25rem;
    height: 3.5rem;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
    animation-delay: 0.20s;



}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.hero-content button:hover {
    background-color: white;
    color: #FC6435;
    transition: .5s;
}

.categories-container {
    background-color: white;
    margin: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



}

.categories-container>.text-left {
    flex: 1;

}

.categories-container .text-left h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 3.4rem;
    width: 500px;


}

.categories-container>.text-right {
    flex: 0 0 1;
}

.categories-container>.text-right p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 9.5rem;
    width: 510px;



}

.bottom-container {
    padding: 3rem;
    overflow-x: auto;
    margin-right: 3rem;



}

.bottom-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin: 1rem;
}

.container-img img {
    max-width: 140px;
    cursor: pointer;
}

.container-img img:hover {
    background-color: #fcdfd6;
    border-radius: 10px;

}

.container-img h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    margin-top: 1.5rem;

}

.planning-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    background-color: #fff;
}

.planning-container>div {
    flex: 1;
    margin: 4rem;
}

.planning-container>div h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 1px;
}

.planning-container>div p {
    margin-top: 2rem;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}



.planning-container .planning-left-cta button {
    background-color: transparent;
    display: inline-block;
    padding: 1rem;
    min-width: 20rem;
    height: 3.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.planning-container .planning-left-cta button:hover {
    background-color: var(--primary-color);
    color: white;
    transition: .5s;
}

.planning-container .planning-right {
    flex: 1;
    margin: 3rem;


}

.planning-container>.planning-right img {
    width: 500px;
    margin-top: 4rem;
}

.service {
    background-color: white;
    margin-top: 5rem;

}

.ticket-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;





}

.ticket-container>h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    text-align: center;
    width: 450px;

}

.ticket-container>p {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: center;
    width: 550px;
    line-height: 1;
}

.ticket-container button {
    background-color: transparent;
    display: inline-block;
    padding: 1rem;
    min-width: 20rem;
    height: 3.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.ticket-container button:hover {
    background-color: var(--primary-color);
    color: white;
}

.service-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem 2rem 12rem;


}

.service-card {
    flex: 0 0 calc(50% - 1.5rem);
    background-color: white;
    border-radius: 10px;
    min-height: 522px;
    max-width: 506px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    position: relative;


}

.service-container .service-card img {
    max-width: 440px;
    max-height: 306;
    border-radius: 15px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;


}

.service-container .service-card .card-body {
    padding: 1rem;
}

.service-container .service-card .card-body h2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.service-container .service-card .card-body p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-top: 0.5rem;

}

.service-container .shifted {
    top: 9rem;
}

.service-container .lifted {
    top: -3rem;
}

.testimonial {
    min-height: 700px;
    background-color: var(--service-section-bg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}


.testimonial-header h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    width: 750px;

}

.testimonial-icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonial-icon .fa-solid {
    font-size: 3rem;
    color: #FC6435;
    margin-top: 2rem;

}
.testimonial-content {
    margin-bottom: 10rem;
}

.testimonial-slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.testimonial-slider p {
    width: 900px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;

}

.testimonial-slider .details {
    margin: 4rem;

}

.testimonial-slider .details span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.partner-slider {
    background-color: #fff;



}

.img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;
    animation: scroll-left 8s linear infinite;
   
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}



.wrapper img {
    white-space: nowrap;
    width: 150px;
    height: 60px;
    filter: grayscale(100%);

}

.img-wrapper .wrapper img:hover {
    filter: grayscale(0%);
    animation-play-state: paused;
}



.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--service-section-bg);
    padding: 50px;
    gap: 40px;

}

.footer .footer-details {
    margin-left: 2rem;
}

.footer .footer-logo h5 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: var(--primary-color);

}

.footer-details .footer-txt p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-right: 15%;
    line-height: 1.5;



}

.footer-details input {
    width: 60%;
    padding: 23px;
    margin-top: 2rem;
    border-radius: 9px;
    border: 1px solid #333;
    background-color: transparent;

}

.footer-details input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

.footer-details input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;

}

.footer-details button {
    width: 23%;
    padding: 23px;
    border-radius: 9px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: .3s;
}

.footer-details button:hover {
    background-color: #fedfdf;
    color: var(--primary-color);
}

.footer .footer-links {
    margin-left: 8rem;

}

.footer .footer-links-icon {
    margin-right: 2rem;
}

.footer-links h2 {
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary-color);
}

.footer .footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.footer .footer-links li {
    margin-bottom: 30px;

}

.footer .footer-links a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #333;
    transition: .3s;

}

.footer .footer-links a:hover {
    color: var(--primary-color);
}

.footer-links-icon h2 {
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary-color);

}

.footer-links-icon ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.footer-links-icon li {
    margin-bottom: 25px;

}

.footer-links-icon a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #333;
    text-transform: none;
    transition: .3s;

}

.footer-links-icon a:hover {
    color: var(--primary-color);
}

.footer-links-icon .fa-brands:hover {
    color: #333;

}

.footer-links-icon .fa-brands {
    font-size: 1.5rem;
}

.footer-links-icon span {
    margin-left: 1rem;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    gap: 40px;
    background-color: var(--service-section-bg);
}

.footer-copyright h5 {
    margin-left: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #333;

}

.footer-copyright .Copyright-links {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4rem;
    font-family: "Inter", sans-serif;
    margin-right: 7rem;


}

.footer-copyright .Copyright-links a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 1.1rem;
    transition: .3s;

}

.footer-copyright .Copyright-links a:hover {
    color: var(--primary-color);
}